<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stumesystem.mapper.DeptNameMapper">
  <resultMap id="BaseResultMap" type="com.stumesystem.bean.DeptName">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deptname" jdbcType="VARCHAR" property="deptname" />

  </resultMap>


  <sql id="Base_Column_List">
    a.id, deptname
  </sql>



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dept_name as a
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByDeptName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dept_name as a
    where deptname = #{deptname,jdbcType=VARCHAR}
  </select>

  <select id="selectByDeptStuName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dept_name AS a LEFT JOIN deptName_dept as c  ON a.id=c.deptNameId LEFT JOIN dept_stu as b on b.id=c.deptId
    where dept_stu_name = #{deptStuName,jdbcType=VARCHAR}
  </select>



  <select id="getDeptName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dept_name as a
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dept_name
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stumesystem.bean.DeptName">
    insert into dept_name (id, deptname)
    values (#{id,jdbcType=INTEGER}, #{deptname,jdbcType=VARCHAR})
  </insert>

  <insert id="insertDeptNameAndDeptStuName" parameterType="java.lang.Integer">
    insert into deptName_dept (deptNameId, deptId)
    values (#{deptId},#{deptStuId})
  </insert>

  <insert id="insertSelective" parameterType="com.stumesystem.bean.DeptName">
    insert into dept_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptname != null">
        deptname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptname != null">
        #{deptname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stumesystem.bean.DeptName">
    update dept_name
    <set>
      <if test="deptname != null">
        deptname = #{deptname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stumesystem.bean.DeptName">
    update dept_name
    set deptname = #{deptname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>