<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stumesystem.mapper.PointMsgMapper">
    <resultMap id="BaseResultMap" type="com.stumesystem.bean.PointMsg">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="msg_count" jdbcType="VARCHAR" property="msgCount"/>
        <result column="send_uid" jdbcType="INTEGER" property="sendUid"/>
        <result column="accept_uid" jdbcType="INTEGER" property="acceptUid"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, msg_count, send_uid, accept_uid, send_time, state
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from point_msg
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAllWithState" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from point_msg
        where state = '2' AND accept_uid = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectNum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select COUNT(id)
    from point_msg
        where state = '2' AND accept_uid = #{id,jdbcType=INTEGER}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.stumesystem.bean.PointMsg">
    insert into point_msg (id, msg_count, send_uid, 
      accept_uid, send_time, state
      )
    values (#{id,jdbcType=INTEGER}, #{msgCount,jdbcType=VARCHAR}, #{sendUid,jdbcType=INTEGER}, 
      #{acceptUid,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.stumesystem.bean.PointMsg">
        insert into point_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="msgCount != null">
                msg_count,
            </if>
            <if test="sendUid != null">
                send_uid,
            </if>
            <if test="acceptUid != null">
                accept_uid,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="msgCount != null">
                #{msgCount,jdbcType=VARCHAR},
            </if>
            <if test="sendUid != null">
                #{sendUid,jdbcType=INTEGER},
            </if>
            <if test="acceptUid != null">
                #{acceptUid,jdbcType=INTEGER},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.stumesystem.bean.PointMsg">
        update point_msg
        <set>
            <if test="msgCount != null">
                msg_count = #{msgCount,jdbcType=VARCHAR},
            </if>
            <if test="sendUid != null">
                send_uid = #{sendUid,jdbcType=INTEGER},
            </if>
            <if test="acceptUid != null">
                accept_uid = #{acceptUid,jdbcType=INTEGER},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.stumesystem.bean.PointMsg">
    update point_msg
    set msg_count = #{msgCount,jdbcType=VARCHAR},
      send_uid = #{sendUid,jdbcType=INTEGER},
      accept_uid = #{acceptUid,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>