<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stumesystem.mapper.StuRoseMapper">
  <resultMap id="BaseResultMap" type="com.stumesystem.bean.StuRose">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="r_rose" jdbcType="VARCHAR" property="rRose" />
  </resultMap>
  <sql id="Base_Column_List">
    id, r_rose
  </sql>

  <sql id="rose_Column_List">
    id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stu_rose
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="rose_Column_List"/>
    from stu_user as a LEFT JOIN user_rose as b on a.id=b.u_id
    where a.id = #{uid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stu_rose
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stumesystem.bean.StuRose">
    insert into stu_rose (id, r_rose)
    values (#{id,jdbcType=INTEGER}, #{rRose,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stumesystem.bean.StuRose">
    insert into stu_rose
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rRose != null">
        r_rose,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rRose != null">
        #{rRose,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stumesystem.bean.StuRose">
    update stu_rose
    <set>
      <if test="rRose != null">
        r_rose = #{rRose,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stumesystem.bean.StuRose">
    update stu_rose
    set r_rose = #{rRose,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>