<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stumesystem.mapper.StuRightMapper">
  <resultMap id="BaseResultMap" type="com.stumesystem.bean.StuRight">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="r_right" jdbcType="VARCHAR" property="right"/>
    <result column="fid" jdbcType="INTEGER" property="fid" />
      <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>

  <sql id="Base_Column_List">
    id, r_right, fid,url
  </sql>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM
    (SELECT rg_id FROM rose_right WHERE r_id=
    (SELECT r_id FROM user_rose WHERE u_id=#{id,jdbcType=INTEGER})) a  LEFT JOIN stu_right b on a.rg_id=b.id
  </select>

  <select id="selectByRoseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from rose_right as a LEFT JOIN stu_right as b on a.rg_id=b.id WHERE r_id=#{rid,jdbcType=INTEGER}
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stu_right
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stu_right
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteRoseWithRight" parameterType="java.lang.Integer">
    delete from rose_right
    where r_id = #{rid,jdbcType=INTEGER} and rg_id = #{rgId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.stumesystem.bean.StuRight">
    insert into stu_right (id, r_right, fid,url
      )
    values (#{id,jdbcType=INTEGER}, #{rRight,jdbcType=VARCHAR}, #{fid,jdbcType=INTEGER},#{url,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stumesystem.bean.StuRight">
    insert into stu_right
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="right != null">
        r_right,
      </if>
      <if test="fid != null">
        fid,
      </if><if test="url != null">
           url,
       </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="right != null">
        #{rRight,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
        <if test="fid != null">
            #{url,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stumesystem.bean.StuRight">
    update stu_right
    <set>
      <if test="right != null">
        r_right = #{right,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="right != null">
            url = #{url,jdbcType=VARCHAR},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stumesystem.bean.StuRight">
    update stu_right
    set r_right = #{right,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>