<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stumesystem.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="com.stumesystem.bean.Topic">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="stu_send_id" property="stuSendId" jdbcType="INTEGER"/>
    <result column="ttime" property="ttime" jdbcType="TIMESTAMP"/>
    <result column="treplaycount" property="treplaycount" jdbcType="INTEGER"/>
    <result column="tclickcount" property="tclickcount" jdbcType="INTEGER"/>
    <result column="tlastclicktime" property="tlastclicktime" jdbcType="TIMESTAMP"/>
    <result column="tstaus" property="tstaus" jdbcType="INTEGER"/>
    <result column="tzan" property="tzan" jdbcType="INTEGER"/>
    <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
    <result column="img_heah" property="imgHeah" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
  </resultMap>

  <resultMap id="ZanResultMap" type="com.stumesystem.bean.TopicZan">
    <result column="user_id" property="userId" jdbcType="INTEGER"/>
    <result column="topic_id" property="topicId" jdbcType="INTEGER"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.stumesystem.bean.Topic" extends="BaseResultMap">
    <result column="tcontent" property="tcontent" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, stu_send_id, ttime, treplaycount, tclickcount, tlastclicktime, tstaus,
    tzan
  </sql>
  <sql id="Blob_Column_List">
    tcontent
  </sql>
  <sql id="list_Column_List">
    tcontent, t.id, title, stu_send_id, ttime, treplaycount, tclickcount, tlastclicktime, tstaus,
    tzan,u.nickname,u.img_heah,u.name
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    select
    <include refid="list_Column_List"/>
    from topic as t LEFT JOIN stu_user as u on t.stu_send_id=u.id
    where t.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getTopicList" resultMap="ResultMapWithBLOBs">
    select
    <include refid="list_Column_List"/>
    from topic as t LEFT JOIN stu_user as u on t.stu_send_id=u.id
    WHERE tstaus=1 ORDER by ttime DESC limit 0,200
  </select>
  <select id="getTopicListManager" resultMap="ResultMapWithBLOBs">
    select
    <include refid="list_Column_List"/>
    from topic as t LEFT JOIN stu_user as u on t.stu_send_id=u.id
    WHERE tstaus=#{state,jdbcType=INTEGER} ORDER by ttime DESC
  </select>

  <select id="getTopicListWithUser" resultMap="ResultMapWithBLOBs">
    select
    <include refid="list_Column_List"/>
    from topic as t LEFT JOIN stu_user as u on t.stu_send_id=u.id
    WHERE stu_send_id=#{uid,jdbcType=INTEGER}
  </select>

  <select id="getTopicZan" resultMap="ZanResultMap">
    select * FROM topic_zan WHERE user_id = #{uid,jdbcType=INTEGER} and topic_id = #{topicid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stumesystem.bean.Topic">
    insert into topic (id, title, stu_send_id,
    ttime, treplaycount, tclickcount,
    tlastclicktime, tstaus, tzan,
    tcontent)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{stuSendId,jdbcType=INTEGER},
    #{ttime,jdbcType=TIMESTAMP}, #{treplaycount,jdbcType=INTEGER}, #{tclickcount,jdbcType=INTEGER},
    #{tlastclicktime,jdbcType=TIMESTAMP}, #{tstaus,jdbcType=INTEGER}, #{tzan,jdbcType=INTEGER},
    #{tcontent,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="insertZanWithUser" parameterType="com.stumesystem.bean.Topic">
    insert into topic_zan (user_id, topic_id)
    values (#{uid,jdbcType=INTEGER},#{topicid,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.stumesystem.bean.Topic">
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="stuSendId != null">
        stu_send_id,
      </if>
      <if test="ttime != null">
        ttime,
      </if>
      <if test="treplaycount != null">
        treplaycount,
      </if>
      <if test="tclickcount != null">
        tclickcount,
      </if>
      <if test="tlastclicktime != null">
        tlastclicktime,
      </if>
      <if test="tstaus != null">
        tstaus,
      </if>
      <if test="tzan != null">
        tzan,
      </if>
      <if test="tcontent != null">
        tcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stuSendId != null">
        #{stuSendId,jdbcType=INTEGER},
      </if>
      <if test="ttime != null">
        #{ttime,jdbcType=TIMESTAMP},
      </if>
      <if test="treplaycount != null">
        #{treplaycount,jdbcType=INTEGER},
      </if>
      <if test="tclickcount != null">
        #{tclickcount,jdbcType=INTEGER},
      </if>
      <if test="tlastclicktime != null">
        #{tlastclicktime,jdbcType=TIMESTAMP},
      </if>
      <if test="tstaus != null">
        #{tstaus,jdbcType=INTEGER},
      </if>
      <if test="tzan != null">
        #{tzan,jdbcType=INTEGER},
      </if>
      <if test="tcontent != null">
        #{tcontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stumesystem.bean.Topic">
    update topic
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stuSendId != null">
        stu_send_id = #{stuSendId,jdbcType=INTEGER},
      </if>
      <if test="ttime != null">
        ttime = #{ttime,jdbcType=TIMESTAMP},
      </if>
      <if test="treplaycount != null">
        treplaycount = #{treplaycount,jdbcType=INTEGER},
      </if>
      <if test="tclickcount != null">
        tclickcount = #{tclickcount,jdbcType=INTEGER},
      </if>
      <if test="tlastclicktime != null">
        tlastclicktime = #{tlastclicktime,jdbcType=TIMESTAMP},
      </if>
      <if test="tstaus != null">
        tstaus = #{tstaus,jdbcType=INTEGER},
      </if>
      <if test="tzan != null">
        tzan = #{tzan,jdbcType=INTEGER},
      </if>
      <if test="tcontent != null">
        tcontent = #{tcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.stumesystem.bean.Topic">
    update topic
    set title = #{title,jdbcType=VARCHAR},
    stu_send_id = #{stuSendId,jdbcType=INTEGER},
      ttime = #{ttime,jdbcType=TIMESTAMP},
      treplaycount = #{treplaycount,jdbcType=INTEGER},
      tclickcount = #{tclickcount,jdbcType=INTEGER},
      tlastclicktime = #{tlastclicktime,jdbcType=TIMESTAMP},
      tstaus = #{tstaus,jdbcType=INTEGER},
      tzan = #{tzan,jdbcType=INTEGER},
      tcontent = #{tcontent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stumesystem.bean.Topic">
    update topic
    set title = #{title,jdbcType=VARCHAR},
    stu_send_id = #{stuSendId,jdbcType=INTEGER},
      ttime = #{ttime,jdbcType=TIMESTAMP},
      treplaycount = #{treplaycount,jdbcType=INTEGER},
      tclickcount = #{tclickcount,jdbcType=INTEGER},
      tlastclicktime = #{tlastclicktime,jdbcType=TIMESTAMP},
      tstaus = #{tstaus,jdbcType=INTEGER},
      tzan = #{tzan,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>